:root {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f3550;
  background-color: #edf3fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #edf3fa;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
